@use '../partials/partials' as *;

//variables
$background: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
$hot-pink: #f907fc;
$aqua: #05d6d9;
$blue: #4f99e4;
$purple: #856aeb;
$white: #ffffff;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$reenie: "Reenie Beanie", cursive;
$quicksand: "Quicksand", sans-serif;

//mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin p-paragraph {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 93vh;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
    align-items: center;
  }
}

.about__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  margin: 5%;
  padding: 2%;
  background-color: white;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 900px) {
    width: 80%;
    height: auto;
    // padding: 10%;
  }
}

#hello {
  color: white;
  font-size: 60px;
  text-align: center;
  @media only screen and (max-width: 900px) {
    margin: 5%;
  }
}

.me {
  height: 400px;
  width: 400px;
  @media only screen and (max-width: 900px) {
    height: auto;
    width: 50%;
  }
}
