@use '../partials/partials' as *;

//variables
$background: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
$hot-pink: #f907fc;
$aqua: #05d6d9;
$blue: #4f99e4;
$purple: #856aeb;
$white: #ffffff;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$reenie: "Reenie Beanie", cursive;
$quicksand: "Quicksand", sans-serif;

//mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin p-paragraph {
  font-family: "Reenie Beanie", cursive;
  font-size: 40px;
}

.container {
  display: flex;
  width: 100vw;
  background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
}

.content {
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  @media only screen and (max-width: 700px) {
    margin: 2%;
    height: 75%;
  }
}

.polaroid__container {
  display: flex;

  &--left {
    transform: rotate(-6deg);
  }
  &--right {
    transform: rotate(6deg);
  }
  &--center {
    margin-left: 5%;
    margin-right: 5%;
  }
  @media only screen and (max-width: 700px) {
    &--left {
      transform: rotate(0deg);
    }
    &--right {
      transform: rotate(0deg);
    }
    &--center {
      display: none;
    }
  }
}

.polaroid {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 15.625rem;
  width: 12.5rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 900px) {
    height: 200px;
    width: 150px;
  }
  @media only screen and (max-width: 700px) {
    height: 200px;
    width: 150px;
  }
}

.polaroid--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 600px;
  width: 95%;
  max-width: 400px;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  @media only screen and (max-width: 900px) {
    max-width: 300px;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

.polaroid__image {
  width: 95%;
  height: 70%;
}

.polaroid__image--main {
  width: auto;
  height: 60%;
  @media only screen and (max-width: 900px) {
    height: 40%;
  }
}

.paragraph {
  margin-top: 10%;
  @include p-paragraph;
  @media only screen and (max-width: 900px) {
    font-size: 2rem;
  }
}
.down-arrow {
  font-size: 2rem;
}

.polaroid--pink:hover {
  color: $hot-pink;
}

.polaroid--purple:hover {
  color: $purple;
}

.polaroid--blue:hover p {
  color: $blue;
}
.polaroid--aqua:hover p {
  color: $aqua;
}
