@use '../partials/partials' as *;

//variables
$background: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
$hot-pink: #f907fc;
$aqua: #05d6d9;
$blue: #4f99e4;
$purple: #856aeb;
$white: #ffffff;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

$reenie: "Reenie Beanie", cursive;
$quicksand: "Quicksand", sans-serif;

//mixins
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin p-paragraph {
  font-family: "Reenie Beanie", cursive;
  font-size: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 7vh;
  align-items: center;
  background: transparent;
  @media screen and (orientation: landscape) {
    height: 12vh;
  }
}

.logo {
  width: 200px;
  margin-left: 2%;
  z-index: 1;
}

.logo h1 {
  font-size: 1.3em;
}

.menu-items {
  display: flex;
  margin-right: 2%;
  list-style-type: none;
  z-index: 1;
}

.github-icon {
  height: 35px;
  width: 35px;
  margin-right: 1.5rem;
}

.linkedin-icon {
  height: 30px;
  width: 30px;
}

.icons {
  display: flex;
  align-items: center;
}

.icon img {
  padding: 10px;
}

.text-list a:link {
  padding: 30px;
  color: white;
}

.text-list a:hover {
  color: #df42f7;
}

.text-list {
  display: flex;
}
